{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>商业咨询_{ZL.Label id="中文网站标题"/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script src="{$CssDir/}js/power-slider.js" type="text/javascript"></script>
<script type="text/javascript" src="/ckplayer/ckplayer.js" charset="utf-8"></script>
</head>
<body>
{ZL.Label id="中文版全站头部"/}
<div class="list_img top_img">
<div class="container">
<div class="list_img_c pull-right">
<a class="home_banner_c2" href="/">ENGLISH</a>
</div>
<div class="clearfix"></div>
<h3>我们的服务</h3>
<p>我们为国际客户进入中国市场，为中国客户进入海外市场提供市场情报、商业咨询和外包服务。<br />
我们的服务范围涵盖产业政策、技术法规和标准、产品认证与型式核准、项目管理、市场研究及相关数据产品。<br />
我们的经验和知识将帮助客户应对来自技术法规、政府监管和市场竞争等方面的挑战，<br />
为实现客户本地业绩增长和发展竞争优势做出贡献。</p>
</div> 
</div>
<div class="wap_breadcrumb">
<span></span>
<div class="container padding0">
<ol class="breadcrumb">
<li><a href="{ZL:GetNodeLinkUrl(19)/}">首页</a></li>
<li><a href="{ZL:GetNodeLinkUrl(41)/}">商业咨询</a></li>
<li class="active">进入中国市场</li>
</ol>
</div>
</div> 
<div class="container">
<div class="market">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
<div class="market_con">
<p>我们对于中国汽车市场深刻的了解以及独立、专业和全球化的经验和视角有助于我们在业务链各个
环节增加我们的服务价值，为客户提供可靠的、经过市场实践的业绩改善方案。
<br /><br />
我们深谙“成就客户，做客户信赖的合作伙伴”是公司成功之道。无论在市场准入方面，还是在销
售服务领域改善经营业绩方面，迅孚公司在服务过程和组织行为规范上均奉行“客户利益优先”的
原则，我们的咨询方案均充分考虑客户的经济性以及可持续的增长。</p>

我们深入的中国行业知识和独立，客观和全球的角度允许我们要在每一个点上增加我们的价值，塑造有意义的战略和务实的对我们的许多客户提供了显着的性能改进的做法。这不是说，我们知道他们的业务比我们的客户，我们只是有一个更强烈的愿望，听取并理解他们的目标。
<p>我们有深刻的认识，我们成功的关键是要成为一个可靠的和值得信赖的商业伙伴。我们首先把客户的利益作为我们的指导原则整个组织和业务流程。</p>
</div>
<div class="market_our business_our">
<h1>我们的咨询服务</h1>
<ul class="list-unstyled">
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding10"><img src="{$CssDir/}images/pic11.jpg" alt="" class="center-block"/>
<p>进入中国市场</p>
</li>
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding10"><img src="{$CssDir/}images/pic12.jpg" alt="" class="center-block"/>
<p>进入国际市场</p>
</li>
<div class="clearfix"></div>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10"><img src="{$CssDir/}images/pic13.jpg" alt="" class="center-block"/>
<p>销售与服务</p>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10"><img src="{$CssDir/}images/pic14.jpg" alt="" class="center-block"/>
<p>人员发展与辅导</p>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10"><img src="{$CssDir/}images/pic15.jpg" alt="" class="center-block"/>
<p>供应商管理</p>
</li>
</ul>
</div>
<div class="clearfix"></div>
<div class="padding_top100" id="market_sub1" style="margin-bottom:-100px;">
<div class="market_sub">
<h1>进入中国市场</h1>
<p>经过几十年的经济发展，中国已经成为世界上最大的新兴市场，对进口机动车、装备和部件以及工程机械
产品的需求持续增加。然而，由于产业政策、技术法规和标准、政府监管方式、基础设施和消费习惯的
差异，不是所有在海外市场热销的产品都能顺利地被进口和交付给中国客户。迅孚公司在此领域深耕多年，
积累了丰富的知识和经验，无论您是向中国进口产品，还是工业化计划，我们可以为您的商业计划提供
增值的服务，包括前期需求开发和问题诊断、项目过程论证和风险分析，以及商业计划的实施方案。</p>
<ul class="list-unstyled">
<li>
<h4>汽车<i class="fa fa-plus"></i></h4>
<p style="display:none;">汽车</p>
</li>
<li>
<h4>摩托车<i class="fa fa-plus"></i></h4>
<p style="display:none;">摩托车</p>
</li>
<li>
<h4>装备及部件<i class="fa fa-plus"></i></h4>
<p style="display:none;">装备及部件</p>
</li>
<li>
<h4>工程机械<i class="fa fa-plus"></i></h4>
<p style="display:none;">工程机械</p>
</li> 
</ul>
</div>
</div>
<div class="padding_top100" id="market_sub2">
<div class="market_sub">
<h1>进入国际市场</h1>
<p>您的企业是否正在积极开拓国际市场，参与全球市场竞争？在发掘海外市场机会的同时，您是否也正面临
来自企业内部和外部的挑战，如内部的组织和业务流程的调整，建立品牌声誉，处理文化差异冲突，应对
目标市场产业政策和技术法规，了解当地消费习惯等。迅孚公司多年来持续对全球重点国家的市场环境和
市场准入进行深入地跟踪研究，积累了丰富的知识和实践经验。基于我们遍布在全球的合作伙伴网络，
迅孚公司为您的国际化策略和产品进入海外市场提供全面的信息和咨询服务。</p>
<ul class="list-unstyled">
<li>
<h4>东盟市场<i class="fa fa-plus"></i></h4>
<p style="display:none;">东盟市场</p>
</li>
<li>
<h4>中东及非洲<i class="fa fa-plus"></i></h4>
<p style="display:none;">中东及非洲</p>
</li>
<li>
<h4>欧盟<i class="fa fa-plus"></i></h4>
<p style="display:none;">欧盟</p>
</li>
<li>
<h4>北美<i class="fa fa-plus"></i></h4>
<p style="display:none;">北美</p>
</li>
<li>
<h4>南美洲<i class="fa fa-plus"></i></h4>
<p style="display:none;">南美洲</p>
</li>
<li>
<h4>俄罗斯<i class="fa fa-plus"></i></h4>
<p style="display:none;">俄罗斯</p>
</li> 
</ul>
</div>
</div>
<div class="market_sub" id="market_sub3">
<h1>销售与服务</h1>
<p>编辑中......</p>
</div>
<div class="market_sub" id="market_sub4">
<h1>人员发展与辅导</h1>
<p>编辑中......</p>
</div>
<div class="market_sub" id="market_sub5">
<h1>供应商管理</h1>
<p>编辑中......</p>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="wap_right">
<div class="about_list about_list_sc">
<p class="first_list">商业咨询</p>
<p class="lt_p"><a href="#market_sub1">进入中国市场</a></p>
<p class="lt_p"><a href="#market_sub2">进入国际市场</a></p>
<p class="lt_p"><a href="#market_sub3">销售与服务</a></p>
<p class="lt_p"><a href="#market_sub4">人员发展与辅导</a></p>
<p class="lt_p"><a href="#market_sub5">供应链管理</a></p>
<div></div>
</div>
<div class="about_news">
<div class="about_news_c" id="about_news">
<ul class="list-unstyled sliderbox">
{ZL.Label id="输出指定节点最新列表" NodeID="32" ShowNum="10" TitleNum="30" /}
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{ZL.Label id="中文版全站底部"/}
</div>
</body>
</html>
<script>
var IO=document.getElementById('wap_right'),Y=IO,H=-120,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
	IO.style.cssText="position:absolute;top:expression(this.fix?(document"+".documentElement.scrollTop-(this.javascript||"+H+")):130)";
	window.onscroll=function (){
	var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop),x=document.body.clientHeight-document.body.scrollTop;
	if(s>H&&IO.fix||s<=H&&!IO.fix)
	{ 
		if($(this).scrollTop() + $(this).height() >= $(document).height()){
			IO.style.top="0";
			IO.style.bottom="310px";
	　　}
		else if(IO.fix) IO.style.top="120px";
		return;
	} 
	if(!IE6)IO.style.position=IO.fix?"":"fixed"; 
	IO.fix=!IO.fix;
	if(IO.fix&&IO.fix!="fixed"){ 
		IO.style.top="120px"
	}
	else{ 
		IO.style.top="0"
	} 
};

try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
 //]]>
 //兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
	document.createTextNode(
	  "@-ms-viewport{width:auto!important}"
	)
  );
  document.getElementsByTagName("head")[0].
	appendChild(msViewportStyle);
}

$(function () {
	$('[data-toggle="tooltip"]').tooltip();
	$("#about_news").powerSlider({delayTime:3000,sliderNum:5}); 
})
$().ready(function(e) {
    $(".about_list p a").click(function(e) {
        var txt = $(this).text(); 
		$(".breadcrumb .active").text(txt);
    });
	$(".market_sub ul li h4").click(function(){
		$(this).parent().find("p").slideToggle();
		if($(this).parent().find("i").hasClass("fa-plus"))
			$(this).parent().find("i").removeClass("fa-plus").addClass("fa-minus");
		else
			$(this).parent().find("i").removeClass("fa-minus").addClass("fa-plus");
	})
});
$(function(){
$(".nav li").hover(function(){
$(this).find(".subnav").show();
$(this).find(".home_nav_a").css({});
},function(){
$(this).find(".subnav").hide();
$(this).find(".home_nav_a").css({"background":"","border-top":"","color":"","padding-top":""});
});
});

function showdiag(n){
	if(n==1)  
		$("#myModah3").load("/Class_35/NodeNews.aspx",function() {
			$("#myModal").modal('show');
		}); 
	else 
		$("#myModah3").load("/Class_35/NodePage.aspx",function() {
			$("#myModal1").modal('show');
		}); 
} 
</script>