{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>外包服务_{ZL.Label id="中文网站标题"/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script type="text/javascript" src="/ckplayer/ckplayer.js?v=47" charset="utf-8"></script>
</head>
<body>
{ZL.Label id="中文版全站头部"/}
<div class="list_img">
<div class="container">
<div class="list_img_c pull-right">
<a class="home_banner_c2" href="/">ENGLISH</a>
</div> 
<div class="clearfix"></div>
<h3>我们的服务</h3>
<p>我们为国际客户进入中国市场，为中国客户进入海外市场提供市场情报、商业咨询和外包服务。<br />
我们的服务范围涵盖产业政策、技术法规和标准、产品认证与型式核准、项目管理、市场研究及相关数据产品。<br />
我们的经验和知识将帮助客户应对来自技术法规、政府监管和市场竞争等方面的挑战，<br />
为实现客户本地业绩增长和发展竞争优势做出贡献。</p>
</div> 
</div>
<div class="wap_breadcrumb">
<span></span>
<div class="container padding0">
<ol class="breadcrumb">
<li><a href="{ZL:GetNodeLinkUrl(19)/}">首页</a></li>
<li><a href="{ZL:GetNodeLinkUrl(26)/}">外包服务</a></li>
<li class="active">认证代理服务</li>
</ol>
</div>
</div> 
<div class="container">
<div class="market">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
<div class="market_our">
<h1>我们的外包服务</h1>
<ul class="list-unstyled">
<div class="col-lg-10 col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10">
<p class="market_service_p">认证代理服务</p>
<img src="{$CssDir/}images/pic16.jpg" alt="" class="center-block"/>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10"></li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10">
<p class="market_service_p">保修担保索赔处理</p>
<img src="{$CssDir/}images/pic17.jpg" alt="" class="center-block"/>
</li>
</div>
<div class="market_service">
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10 col-md-offset-2"><img src="{$CssDir/}images/pic4.png" alt="" class="center-block"/>
<p>项目管理服务</p>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10"><img src="{$CssDir/}images/pic5.png" alt="" class="center-block"/>
<p>经销商网点审计</p>
</li>
</div>
</ul>
</div>
<div class="clearfix"></div>
<div class="market_sub1 padding_top100" id="market_sub1">
<div class="market_sub">
<h1>认证代理服务</h1>
<p>迅孚公司提供完整的法规认证信息咨询以及认证代理服务，包括制订认证计划、成本估算、申请和参数
申报、样品报关和跟踪、现场试验服务、工厂审查文件准备和行程安排以及证书有效性的维护等。</p>
<p>迅孚公司与相关政府机构及检测机构建立了紧密的业务关系和畅通的沟通渠道，客户可以从以下方面受益
于我们的服务：</p>
<p>
1)可以制订更加合理的认证计划；<br />
2)可以提升沟通效率；<br />
3)可以降低认证及合规风险；<br />
4)可以加快认证流程；<br />
5)可以确保产品投放市场的时间；<br />
6)可以及时掌握法规政策动向；<br />
7)可以受益于其它客户的经验。<br />
</p> 
<ul class="list-unstyled">
<li><span data-toggle="tooltip" data-placement="right" title="乘用车">乘用车</span></li>
<li><span data-toggle="tooltip" data-placement="right" title="摩托车">摩托车</span></li>
<li><span data-toggle="tooltip" data-placement="right" title="商用车">商用车</span></li>
<li><span data-toggle="tooltip" data-placement="right" title="装备及部件">装备及部件</span></li>
<li><span data-toggle="tooltip" data-placement="right" title="工程机械">工程机械</span></li>
</ul>
</div>
</div>
<div class="padding_top100" id="market_sub2">
<div class="market_sub">
<h1>项目管理服务</h1>
<p>您是否正在寻找专业的项目策划和管理机构？迅孚公司可以代表客户对目标项目进行全面和全过程的项目
管理。在迅孚公司，项目是我们履行客户合同内容的基本组织和管理形式。过去十年服务这些全球性客户
的经历将迅孚公司的项目管理知识和经验提升到了一个新的高度。我们的项目策划和管理人员具有国际
视野和良好的外语能力，可以无障碍地进行跨文化沟通和交流。</p>
<p>作为项目管理服务商，我们的服务包括项目前期策划、主持或参与可行性论证、对服务商进行评估、项目
的组织协调以及数据管理等服务。</p>
</div>
</div>
<div class="market_sub padding_top100" id="market_sub3">
<div class="market_sub">
<h1>质量担保索赔处理</h1>
<p>编辑过程中......</p>
</div>
</div>
<div class="market_sub padding_top100" id="market_sub4">
<div class="market_sub">
<h1>经销商网点审计</h1>
<p>编辑工作......</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="wap_right">
<div class="about_list about_list_sc">
<p class="first_list ">外包</p>
<p class="lt_p"><a href="#market_sub1">认证代理服务</a></p>
<p class="lt_p"><a href="#market_sub2">项目管理服务</a></p>
<p class="lt_p"><a href="#market_sub3">质量担保索赔处理</a></p>
<p class="lt_p"><a href="#market_sub4">经销商网点审计</a></p>
<div></div>
</div>
<div class="about_news"> 
</div>
</div>
</div>
</div>
</div>
</div>
{ZL.Label id="中文版全站底部"/}
</div>
</body>
</html>
<script>
$(function(){
$(".nav li").hover(function(){
$(this).find(".subnav").show();
$(this).find(".home_nav_a").css({});
},function(){
$(this).find(".subnav").hide();
$(this).find(".home_nav_a").css({"background":"","border-top":"","color":"","padding-top":""});
});
});

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
$().ready(function(e) {
    $(".about_list p a").click(function(e) {
        var txt = $(this).text(); 
		$(".breadcrumb .active").text(txt);
    });
});

$(function(){
$(".nav li").hover(function(){
$(this).find(".subnav").show();
$(this).find(".home_nav_a").css({});
},function(){
$(this).find(".subnav").hide();
$(this).find(".home_nav_a").css({"background":"","border-top":"","color":"","padding-top":""});
});
});

function showdiag(n){
	if(n==1)  
		$("#myModah3").load("/Class_35/NodeNews.aspx",function() {
			$("#myModal").modal('show');
		}); 
	else 
		$("#myModah3").load("/Class_35/NodePage.aspx",function() {
			$("#myModal1").modal('show');
		}); 
} 
</script>