{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Consulting_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script src="{$CssDir/}js/power-slider.js" type="text/javascript"></script>
<script type="text/javascript" src="/ckplayer/ckplayer.js" charset="utf-8"></script>
</head>
<body data-target="#navbar-example2" data-offset="150" data-spy="scroll">
{ZL.Label id="全站头部"/}
<div class="list_img top_img">
<div class="container">
<div class="list_img_c pull-right">
<a href="{ZL:GetNodeLinkUrl(19)/}">中文</a>
</div>
<div class="clearfix"></div>
<h3>OUR SERVICE</h3>
<p>
We provide market intelligence, business consulting and outsourcing service <br>
for global clients entering China market and Chinese companies going abroad.<br>
Our service scope covers industry policies, technical regulations and standards, certification and type approval, <br>
project management, market research and data products.<br>
Our expertise will help clients tackle complex challenges deriving from technical standards, regulatory supervision and market competition, <br>
and add value to their local business growth and building competitive advantage.</p>
</div>
</div>
<div class="wap_breadcrumb">
<span></span>
<div class="container padding0">
<ol class="breadcrumb">
<li><a href="/">Dynaso</a></li>
<li><a href="{ZL:GetNodeLinkUrl(37)/}">Consulting</a></li>
<li class="active">Enter China market</li>
</ol>
</div>
</div> 
<div class="container">
<div class="market">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
<div class="market_con">
Our in-depth Chinese industry knowledge and independent, objective and global perspective allow us to add our value at every point of the business chain, shape meaningful strategies and pragmatic practices that have delivered significant performance improvements for many of our clients. It’s not to say that we know better their business than our clients, we just have a stronger desire to listen to and understand their goals.
<p>We have profound understanding that the pivotal of our success is to become a reliable and trustworthy business partner. We apply Clients’ interest first as our guiding principle throughout our entire organization and business process. </p>
</div>
<div class="market_our business_our">
<h1>Our Consulting Service</h1>
<ul class="list-unstyled">
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding10"><img src="{$CssDir/}images/pic11.jpg" alt="" class="center-block"/>
<p>Enter China market</p>
</li>
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding10"><img src="{$CssDir/}images/pic12.jpg" alt="" class="center-block"/>
<p>Go to global market</p>
</li>
<div class="clearfix"></div>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10"><img src="{$CssDir/}images/pic13.jpg" alt="" class="center-block"/>
<p>Sales & Service</p>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10"><img src="{$CssDir/}images/pic14.jpg" alt="" class="center-block"/>
<p>People development & Coaching</p>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding10"><img src="{$CssDir/}images/pic15.jpg" alt="" class="center-block"/>
<p>Parts Supply Chain Management</p>
</li>
</ul>
</div>
<div class="clearfix"></div>
<div id="market_sub1" class="padding_top100">
<div class="market_sub">
<div class="market_sub_t">
<h1>Enter China market</h1>
<p>China has become the largest emerging market in the world after a continued opening-up and economic development over the past three decades, and has a huge demand on imported motor vehicles and machinery. Meanwhile, not all top-selling products in its home country could be imported into China and delivered to end users, as China have different industry policies, technical regulations, governmental ruling, and infrastructure and consumption behavior. Dynaso has been doing business in these areas for many years and accumulate extensive knowledge and experience. We provide value added service in areas of project feasibility study, risk assessment, project management and implementation, for importation as well as localization.</p>
</div>
<ul class="list-unstyled">
<li>
<h4>MOTOR VEHICLE<i class="fa fa-plus"></i></h4>
<p style="display:none;">MOTORBIKES</p>
</li>
<li>
<h4>THE MIDDLE EAST AND AFRICA<i class="fa fa-plus"></i></h4>
<p style="display:none;">MOTORBIKES</p>
</li>
<li>
<h4>MOTORBIKES<i class="fa fa-plus"></i></h4>
<p style="display:none;">EQUIPMENT AND COMPONENTS</p>
</li>
<li>
<h4>CONSTRUCTION MACHINERY<i class="fa fa-plus"></i></h4>
<p style="display:none;">CONSTRUCTION MACHINERY</p>
</li>
</ul>
</div>
</div>
<div id="market_sub2" class="padding_top100">
<div class="market_sub">
<div class="market_sub_t">
<h1>Go To Global Market</h1>
<p>Is your company planning to enter international market or ready for global market participation? Are you facing various challenges, from both inside and outside, in tackling regulatory requirements, handling conflicts from cultural difference, changing organizations and business processes, recruiting and retaining talent people with global perspective, or building brand awareness? Dynaso has been following for years market environment and market access requirements of global major countries; relying on our extensive knowledge and practical experience, as well as our information network spreading from global markets, we provide our clients with high standard consultancy in local market intelligence and market access.</p>
</div>
<ul class="list-unstyled">
<li>
<h4>ASEAN<i class="fa fa-plus"></i></h4>
<p style="display:none;">ASEAN</p>
</li>
<li>
<h4>THE MIDDLE EAST AND AFRICA<i class="fa fa-plus"></i></h4>
<p style="display:none;">THE MIDDLE EAST AND AFRICA</p>
</li>
<li>
<h4>EUROPE<i class="fa fa-plus"></i></h4>
<p style="display:none;">EUROPE</p>
</li>
<li>
<h4>NORTH AMERICA<i class="fa fa-plus"></i></h4>
<p style="display:none;">NORTH AMERICA</p>
</li>
<li>
<h4>SOUTH AMERICA<i class="fa fa-plus"></i></h4>
<p style="display:none;">SOUTH AMERICA</p>
</li>
<li>
<h4>RUSSIA<i class="fa fa-plus"></i></h4>
<p style="display:none;">RUSSIA</p>
</li>
</ul>
</div>
</div>
<div id="market_sub3" class="padding_top100">
<div class="market_sub">
<div class="market_sub_t">
<h1>Sales & Service</h1>
<p>Editing in progress......</p>
</div>
</div>
</div>
<div id="market_sub4" class="padding_top100">
<div class="market_sub">
<div class="market_sub_t">
<h1>People Development & Coaching</h1>
<p>Editing in progress......</p>
</div>
</div>
</div>
<div id="market_sub5" class="padding_top100">
<div class="market_sub">
<div class="market_sub_t">
<h1>Parts Supply Chain Management</h1>
<p>Editing in progress......</p>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div style="position:relative">
<div class="wap_right" id="wap_right">
<div class="about_list about_list_sc" id="navbar-example2">
<div class="about_list_sct">CONSULTING</div>
<ul class="nav navbar-nav">
<li class="active"><a href="#market_sub1">Enter China Market</a></li>
<li><a href="#market_sub2">Go to Global Market</a></li>
<li><a href="#market_sub3">Sales & Service</a></li>
<li><a href="#market_sub4">People Development & Coaching</a></li>
<li><a href="#market_sub5">Parts Supply Chain Management</a></li>
</ul>
</div>
<div class="about_news">
<div class="about_news_c" id="about_news">
<ul class="list-unstyled sliderbox">
{ZL.Label id="输出指定节点最新列表" NodeID="6" ShowNum="10" TitleNum="30" /}
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{ZL.Label id="全站底部"/}
</div>
</body>
</html>
<script>
var IO=document.getElementById('wap_right'),Y=IO,H=-120,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
	IO.style.cssText="position:absolute;top:expression(this.fix?(document"+".documentElement.scrollTop-(this.javascript||"+H+")):130)";
	window.onscroll=function (){
	var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop),x=document.body.clientHeight-document.body.scrollTop;
	if(s>H&&IO.fix||s<=H&&!IO.fix)
	{ 
		if($(this).scrollTop() + $(this).height() >= $(document).height()){
			IO.style.top="0";
			IO.style.bottom="310px";
	　　}
		else if(IO.fix) IO.style.top="120px";
		return;
	} 
	if(!IE6)IO.style.position=IO.fix?"":"fixed"; 
	IO.fix=!IO.fix;
	if(IO.fix&&IO.fix!="fixed"){ 
		IO.style.top="120px"
	}
	else{ 
		IO.style.top="0"
	} 
};

try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
 //]]>
 //兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
	document.createTextNode(
	  "@-ms-viewport{width:auto!important}"
	)
  );
  document.getElementsByTagName("head")[0].
	appendChild(msViewportStyle);
}

$(function () {
	$('[data-toggle="tooltip"]').tooltip();
	$("#about_news").powerSlider({delayTime:3000,sliderNum:5}); 
})
$().ready(function(e) {
    $(".about_list p a").click(function(e) {
        var txt = $(this).text(); 
		$(".breadcrumb .active").text(txt);
    });
	$(".market_sub ul li h4").click(function(){
		$(this).parent().find("p").slideToggle();
		if($(this).parent().find("i").hasClass("fa-plus"))
			$(this).parent().find("i").removeClass("fa-plus").addClass("fa-minus");
		else
			$(this).parent().find("i").removeClass("fa-minus").addClass("fa-plus");
	})
});
$(function(){
$(".nav li").hover(function(){
$(this).find(".subnav").show();
$(this).find(".home_nav_a").css({});
},function(){
$(this).find(".subnav").hide();
$(this).find(".home_nav_a").css({"background":"","border-top":"","color":"","padding-top":""});
});
});

var video=['/Template/DyanSO/style/images/DynaSo.mp4->video/mp4'];
var support=['iPad','iPhone','ios','android+false','msie10+false'];
CKobject.embedHTML5('a1','ckplayer_a1','100%',500,video,flashvars,support);

function showdiag(n){
	if(n==1)  
		$("#myModah3").load("/Class_35/NodeNews.aspx",function() {
			$("#myModal").modal('show');
		}); 
	else 
		$("#myModah3").load("/Class_35/NodePage.aspx",function() {
			$("#myModal1").modal('show');
		}); 
} 
</script>