{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script type="text/javascript" src="/ckplayer/ckplayer.js" charset="utf-8"></script>
<style>
.list_img1 { background:url(/Template/DyanSO/style/images/pic30.jpg) center no-repeat; background-size:cover;}
</style>
</head>
<body>
{ZL.Label id="全站头部"/}
<div class="list_img1 top_img">
<div class="container">
<div class="list_img_c pull-right">
<a href="/">中文</a>
</div>
</div>
</div>
<div class="wap_breadcrumb">
<span></span>
<div class="container padding0">
<ol class="breadcrumb">
<li><a href="{ZL:GetNodeLinkUrl(19)/}">Dynaso</a></li>
<li class="active">{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}</li>
</ol>
</div>
</div>
<div class="container">
{ZL.Label id="输出新闻列表_分页" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" ShowNum="10" TitleNum="200" SynNum="500" /}
</div>
{ZL.Label id="全站底部"/}
</div>
</body>
</html>
<script>

$(function(){
$(".nav li").hover(function(){
$(this).find(".subnav").show();
$(this).find(".home_nav_a").css();
},function(){
$(this).find(".subnav").hide();
$(this).find(".home_nav_a").css({"background":"","border-top":"","color":"","padding-top":""});
});
});

function showdiag(n){
	if(n==1)  
		$("#myModah3").load("/Class_35/NodeNews.aspx",function() {
			$("#myModal").modal('show');
		}); 
	else 
		$("#myModah3").load("/Class_35/NodePage.aspx",function() {
			$("#myModal1").modal('show');
		}); 
} 
</script>