{ZL.Source id="文章模型数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{ZL.Label id="中文网站标题"/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="文章模型数据源标签" FD="Title" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script src="{$CssDir/}js/power-slider.js" type="text/javascript"></script>
<script type="text/javascript" src="/ckplayer/ckplayer.js?v=47" charset="utf-8"></script>
<style>
.eve_p1 strong { float:left; margin-right:20px;}
.eve_p1 span { margin-left:0; margin-top:15px; float:left; margin-right:30px; }
.about_list .lt_p{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/} {background:url({$CssDir/}images/r_bg2.jpg) no-repeat;}
.about_list .lt_p{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/} a{color:#fff;}
</style>
</head>
<body>
{ZL.Label id="中文版全站头部"/}
<div class="list_img2">
<div class="container">
<div class="list_img_c pull-right">
<a class="home_banner_c2" href="/">ENGLISH</a>
</div>
</div>
</div>
<div class="wap_breadcrumb">
<span></span>
<div class="container">
<ol class="breadcrumb padding0">
<li><a href="{ZL:GetNodeLinkUrl(19)/}">首页</a></li>
<li><a href="{ZL:GetInfoUrl(129)/}">关于我们</a></li>
<li class="active">{SField sid="文章模型数据源标签" FD="Title" page="0"/}</li>
</ol>
</div>
</div> 
<div class="container">
<div class="list_m">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
<div class="wap_intr_left">
<p class="intr_p1">迅孚公司成立于2005年，是一家立足中国，在汽车和交通运输行业服务国内外客户的独立咨询与外包
服务公司。通过专业的团队和客户定制的项目，我们帮助客户在国际市场准入、本地业绩增长以及发展
竞争优势方面处理复杂的行业挑战。 
 </p>
<p class="intr_p2">迅孚公司在以下三个领域向客户提供极具竞争力的服务：</p>
<ul class="list-unstyled intr_ul">
<li>- 市场情报</li>
<li>- 商务咨询</li>
<li>- 外包服务</li>
</ul>
<p>今天，我们服务的客户包括众多著名企业和机构，分布在中国、北美、欧洲、日本和东南亚，既有财富 
500 强大型汽车和零部件公司，也有小规模的高端汽车品牌；既有大型贸易和服务企业集团，也有政府
专业机构和协会。 </p>
<p>我们在北京、上海、新加坡和墨尔本设立有办公室，在全球重点市场有诸多的商业合作伙伴。我们拥有
一支跨文化背景的专业团队，可以用中文、英文、法语和日语与客户实现无障碍沟通和交流。</p>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="wap_right">
<div class="about_list about_list_sc">
<p class="first_list">关于我们</p>
{ZL.Label id="输出文章_标题_排序" NodeID="20" ShowNum="3"/}
</div>
<div class="about_news"> 
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
<div class="container">
<div class="intro_year">
<a id="move_car"><img src="{$CssDir/}images/car.png" alt="年份"></a>
<ul class="list-unstyled">
<li class="active"><span>2005</span></li>
<li><span>2006</span></li>
<li><span>2007</span></li>
<li><span>2008</span></li>
<li><span>2009</span></li>
<li><span>2010</span></li>
<li><span>2011</span></li>
<li><span>2012</span></li>
<li><span>2013</span></li>
<li><span>2014</span></li>
<li><span>2015</span></li>
</ul>
</div>
<div class="intro_cnt">
<ul class="list-unstyled">
<li class="active">
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2005
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span><strong>公司成立</strong><br />2005年7月28日</span>
</div>
<div class="clearfix"></div>
</li>
<li>
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2006
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span><strong>中国机动车辆 CCC 强制
  认证服务手册光盘发行</strong><br />
  市场上首个面向跨国企业的
  全英文电子版服务手册
</span>
<span>技术文件本地化服务
    <br /><strong>法国标致雪铁龙集团</strong>和
  美国莱博智环球科技公司</span>
</div>
<div class="clearfix"></div>
</li>
<li>
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2007
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span>通用汽车（中国）欧宝品牌</span>
<span>丰田汽车（中国）技术中心</span>
<span>开始向客户<strong>提供市场研究服务</strong></span>
</div>
<div class="clearfix"></div>
</li>
<li>
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2008
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span><strong>英国捷豹路虎公司</strong><br />先后签署中国法规认证及市场研究合同</span>
<span><strong>日本丰田汽车公司</strong><br />签署汽车零部件CCC 数据管理与维护合同
</span>
</div>
<div class="clearfix"></div>
</li>
<li>
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2009
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span><strong>德国利勃海尔</strong><br />
  签署中国法规认证咨询和
  服务合同</span>
</div>
<div class="clearfix"></div>
</li>
<li>
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2010
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span><strong>通用汽车欧宝</strong>中国认证代理合同</span>
<span><strong>北京公司整体搬迁</strong>到东海中心大厦</span>
</div>
<div class="clearfix"></div>
</li>
<li>
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2011
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span><strong>阿斯顿·马丁汽车公司</strong><br />
  签署中国法规认证咨询和服务合同</span>
  <span>到丰田汽车北美 (TEMA) 推荐
  迅孚公司零部件法规认证服务</span>
  <span>向<strong>大众汽车集团 (VGC)</strong><br /> 
  提供市场调研服务
</span>
</div>
<div class="clearfix"></div>
</li>
<li>
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2012
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span><strong>迅孚新加坡公司成立</strong><br />
开拓国际资源和海外市场</span>
<span>为<strong>菲斯克( Fisker )</strong><br />
  电动汽车提供认证服务</span>
  <span>韩福瑞先生（澳）和
  冈田佳之先生（日）加入迅孚公司
</span>
</div>
<div class="clearfix"></div>
</li>
<li>
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2013
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span>为瑞典国国能电动车公司<br />
  <strong>( NEVS/SAAB )</strong>提供认证服务</span>
  <span>为<strong>英国迈凯轮汽车( McLaren )</strong><br />
  提供中国法规认证服务
</span><span>迅孚公司<strong>上海分公司</strong>开业</span>
</div>
<div class="clearfix"></div>
</li>
<li>
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2014
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span>为<strong>德国雅宾纳汽车( BMW/Alpina )</strong><br />
提供法规认证服务
</span><span>为<strong>戴姆勒( Daimler )</strong><br />
  提供认证现场支援服务</span>
  <span><strong>英国莲花汽车</strong><br />
  签署法规认证咨询和代理服务协议
</span>
</div>
<div class="clearfix"></div>
</li>
<li>
<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 intro_cnt_year">
2015
</div>
<div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 intro_cnt_li">
<span>迅孚公司<strong>商标变更暨
  上海分公司迁入安亭汽车城</strong>
</span><span>为<strong>斯洛文尼亚阿迪雅
    ( Adria Mobil )</strong><br />提供认证服务
</span><span>为<strong>德国安联集团( Allianz/AGA )</strong>
  提供项目管理和调研服务
</span>
</div>
<div class="clearfix"></div>
</li> 
</ul>
</div> 
</div> 
</div>
</div>
</div>
</div>
{ZL.Label id="中文版全站底部"/}
</body>
</html>
<script> 
$(function(){
$(".nav li").hover(function(){
$(this).find(".subnav").show();
$(this).find(".home_nav_a").css({});
},function(){
$(this).find(".subnav").hide();
$(this).find(".home_nav_a").css({"background":"","border-top":"","color":"","padding-top":""});
});
});

var timer = null;
var yindex=0;
$().ready(function(e) {
    timer = setInterval(function(){
	 		nextMove();
	},2000);
	$(".intro_year").mouseenter(function(e) {
        clearInterval(timer);	
    }).mouseleave(function(e) {
        timer = setInterval(function(){
	 		nextMove();
		},2000);
    });; 
});
function nextMove(){
	if(yindex<$(".intro_year li").length-1){
		yindex++;
		$("#move_car").animate({"left":yindex*80+"px"},500);
		$(".intro_year li").removeClass("active");
		$(".intro_year li").eq(yindex).addClass("active");
		$(".intro_cnt li").removeClass("active");
		$(".intro_cnt li").eq(yindex).addClass("active");
	} 	
}
function showdiag(n){
	if(n==1)  
		$("#myModah3").load("/Class_35/NodeNews.aspx",function() {
			$("#myModal").modal('show');
		}); 
	else 
		$("#myModah3").load("/Class_35/NodePage.aspx",function() {
			$("#myModal1").modal('show');
		}); 
} 
</script>